
<div> <%= $game.passive_player.name %> attacked <%= @game.active_player.name %>! </div>

<div> <%= @game.player1.name %>'s points: <%= @game.player1.score %> </div>

<div> <%= @game.player2.name %>'s points: <%= @game.player2.score %> </div>

<div>  <%= @game.passive_player.name %> lost! Game over. </div>

<form action='/attack_response' method="post">
  <button>Attack</button>
</form>
