
<div> This is a game of BATTLE! </div>

<%= @game.player1.name %> vs <%= @game.player2.name %>

<div> <%= @game.player1.name %>'s points: <%= @game.player1.score %> </div>

<div> <%= @game.player2.name %>'s points: <%= @game.player2.score %> </div>

<div>  <%= @game.active_player.name %>'s turn to attack! </div>

<form action='/attack_response' method="post">
  <button>Attack</button>
</form>
