
<%= @game.player1.name %> vs <%= @game.player2.name %>
<div>  <%= @game.current_turn.name %>: <%= @game.current_turn.score %> </div>
<div>  <%= @game.current_turn.name %>'s turn  </div>
<form action='/attack_response' method="post">
  <button>Attack</button>
</form>
